body{
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.titleInput {
  display: flex;
  justify-content:center;
  gap: 10px;
}
.alert{
  text-decoration: none;
  color: #fff;  
}
.alert .box{
  background-color: black;
  opacity: 0.7;
  display: none;
}
.alert:hover{
  display: block;

}
.icon .alert img{
  display: inline-block;
  max-width: 16px;
  max-height: 20px
}
p {
  margin-top: 1rem;
  margin-bottom: 0px;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.table {
  border: solid 1px white;
  max-width: 380px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
}

.flex__cv {
  background: #2f3542;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  color: #fff;
}

.flex__cv img {
  max-width: 480px;
  width: 100%;
  margin-top: 1.25rem;
}

.form-box {
  width: 480px;
  background: #2F3542;
  text-align: center;
}

.form-title {
  text-transform: uppercase;
  text-align: center;
}

input[type="number"]
{
-webkit-appearance: textfield !important;
margin: 0;
-moz-appearance:textfield !important;
}
.form-box input, .form-box input, .form-box #boton-calcular, .form-box input, .form-box input {
  border: 0;
  background: none;
  display: block;
  margin: auto;
  text-align: center;
  border: 2px solid #3742fa;
  padding: 14px 10px;
  width: 300px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.form-box input[type="text"]:focus, .form-box input[type="number"]:focus {
  width: 350px;
  border-color: #ffffff;
}

.form-box #boton-calcular{
  border: 0;
  background: #5352ed;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3742fa;
  padding: 14px 40px;
  outline: none;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  color: #fff;
}

.form-box #boton-calcular[type="submit"]:hover {
  background: none;
}

.fa {
  width: 1px;
  border-radius: solid 2px;
  color: #fff;
}
.title {
  border: #fff solid 1px;
}
#resultado{
  border: #fff solid 1px;
  padding: 1px;
}



